.button {
  padding: 0.5rem 1.5rem;
  font-weight: var(--font-semibold);
  border-radius: var(--border-radius-lg);
  border: none;
  background: var(--color-card);
  color: var(--color-white);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.active {
  background: var(--color-primary);
}

.active:hover {
  background: var(--color-primary-dark);
}

.icon {
  font-weight: var(--font-semibold);
  border-radius: var(--border-radius-base);
  font-size: var(--font-size-sm);
  border: none;
  aspect-ratio: 1/1;
  background: var(--color-card);
  color: var(--color-white);
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: var(--color-primary);
}

button:disabled {
  background: var(--color-card);
}
