.input {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-lg);
  border: 1px solid var(--color-card-light);
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-size: var(--font-size-sm);
}

input:focus-visible {
  outline: 1px solid var(--color-primary);
}

input[type="checkbox"] {
  appearance: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: var(--color-card-light);
  border-radius: 4px;
  border: 1px solid var(--color-card-light);
}

input[type="checkbox"]:checked::before {
  content: "✓";
  border-radius: 4px;
  display: block;
  background-color: var(--color-primary);
  color: var(--color-foreground);
  font-weight: bold;
  text-align: center;
}
